.container {
    padding-right: .75rem;
    padding-left: .75rem;

    margin: auto {
        top: 0;
        bottom: 0;
    }

    @include small {
        width: 540px;
    }

    @include medium {
        width: 720px;
    }

    @include large {
        width: 960px;
    }

    @include extraLarge {
        width: 1140px;
    }
}