.services .services-item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e2e2e2;
  width: 50%;
  height: 1px; }
  @media (min-width: 992px) {
    .services .services-item:not(:last-child)::before {
      display: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
ol {
  list-style: none; }

img,
video {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  font-family: "Times New Roman", Georgia, serif;
  background-color: #ffffff; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.py-1 {
  padding: 1rem 0; }

.px-1 {
  padding: 0 1rem; }

.py-2 {
  padding: 2rem 0; }

.px-2 {
  padding: 0 2rem; }

.py-3 {
  padding: 3rem 0; }

.px-3 {
  padding: 0 3rem; }

.py-4 {
  padding: 4rem 0; }

.px-4 {
  padding: 0 4rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.my-1 {
  margin: 1rem 0; }

.mx-1 {
  margin: 0 1rem; }

.my-2 {
  margin: 2rem 0; }

.mx-2 {
  margin: 0 2rem; }

.my-3 {
  margin: 3rem 0; }

.mx-3 {
  margin: 0 3rem; }

.my-4 {
  margin: 4rem 0; }

.mx-4 {
  margin: 0 4rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.header {
  border-bottom: 1px solid #e2e2e2;
  position: relative; }
  .header .dropdown {
    position: absolute;
    top: 0.3125rem;
    right: 0.625rem;
    z-index: 2; }
    .header .dropdown .dropbtn {
      color: #333333;
      background-color: #e2e2e2;
      width: 5.625rem;
      padding: 0.75rem 1rem;
      border: none;
      cursor: pointer; }
    .header .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f1f1f1;
      min-width: 120px;
      overflow: auto;
      z-index: 2; }
      .header .dropdown-content a {
        display: block;
        padding: 0.75rem 1rem;
        color: #333333; }
        .header .dropdown-content a:hover {
          background-color: #e2e2e2; }
      .header .dropdown-content.show {
        display: block; }
  .header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
  .header .header-logo {
    line-height: 1; }
    @media (min-width: 768px) {
      .header .header-logo {
        flex-basis: 100%;
        text-align: center; } }
    @media (min-width: 992px) {
      .header .header-logo {
        flex-basis: 30%;
        text-align: left; } }
    .header .header-logo h1 {
      font-size: 2rem;
      color: #505050;
      text-transform: uppercase; }
    .header .header-logo p {
      color: #666666;
      margin-top: 0.6rem; }
      @media (min-width: 768px) {
        .header .header-logo p {
          margin-top: 1rem;
          margin-bottom: 1rem; } }
      @media (min-width: 992px) {
        .header .header-logo p {
          margin-top: 0.6rem;
          margin-bottom: 0; } }
  .header .header-hamburger {
    width: 2.5rem;
    background-color: #e2494b;
    padding: 0.3125rem;
    cursor: pointer; }
    @media (min-width: 768px) {
      .header .header-hamburger {
        display: none; } }
    .header .header-hamburger span {
      display: block;
      background-color: #ffffff;
      height: 0.25rem; }
      .header .header-hamburger span:not(:last-child) {
        margin-bottom: 0.25rem; }
  .header .header-navbar {
    padding-top: 1rem;
    flex-basis: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out; }
    @media (min-width: 768px) {
      .header .header-navbar {
        max-height: 100%; } }
    @media (min-width: 992px) {
      .header .header-navbar {
        flex-basis: 70%;
        padding-top: 0; } }
    .header .header-navbar-links {
      background-color: #e2494b; }
      @media (min-width: 768px) {
        .header .header-navbar-links {
          display: flex;
          text-align: center;
          border-radius: 0.625rem; } }
      .header .header-navbar-links li {
        font-size: 1.125rem;
        flex: 1; }
      .header .header-navbar-links a {
        display: block;
        color: #ffffff;
        text-transform: uppercase;
        padding: 1.25rem 1rem;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out; }
        .header .header-navbar-links a:hover {
          color: #ee9395; }

.container {
  padding-right: .75rem;
  padding-left: .75rem;
  margin: auto;
    margin-top: 0;
    margin-bottom: 0; }
  @media (min-width: 576px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.form .form-group {
  margin-bottom: 0.7rem; }
  .form .form-group input,
  .form .form-group textarea {
    border: none;
    outline: none; }
  .form .form-group input[type="text"],
  .form .form-group input[type="email"],
  .form .form-group textarea {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #e2e2e2;
    border-radius: 5px; }
  .form .form-group textarea {
    height: 7rem; }
  .form .form-group input[type="submit"] {
    background-color: #e2494b;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.2;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto; }

.footer {
  background-color: #e2e2e2;
  color: #999999; }
  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media (min-width: 768px) {
      .footer .container {
        flex-direction: row;
        flex-wrap: wrap; } }
  .footer .section-title {
    color: #333333;
    margin-bottom: 1.25rem; }
  @media (min-width: 768px) {
    .footer .blog {
      text-align: left;
      flex-basis: 100%; } }
  @media (min-width: 1200px) {
    .footer .blog {
      flex-basis: calc((100% - 4rem) / 2); } }
  @media (min-width: 768px) {
    .footer .blog-item {
      display: flex;
      align-items: center;
      gap: 1.25rem; } }
  .footer .blog-item .image {
    width: 5.9375rem;
    height: 5.9375rem;
    margin: auto;
      margin-top: 0;
      margin-bottom: 0; }
    .footer .blog-item .image img {
      width: 100%;
      height: 100%; }
  .footer .blog-item .text {
    flex: 1; }
    .footer .blog-item .text h4 {
      color: #e2494b;
      margin: 0.625rem 0; }
      @media (min-width: 768px) {
        .footer .blog-item .text h4 {
          margin-top: 0; } }
    .footer .blog-item .text p {
      line-height: 1.6; }
  .footer .blog-item:not(:last-child) {
    margin-bottom: 1.25rem; }
  @media (min-width: 768px) {
    .footer .details,
    .footer .contact {
      text-align: left;
      flex-basis: calc((100% - 2rem) / 2); } }
  @media (min-width: 1200px) {
    .footer .details,
    .footer .contact {
      flex-basis: calc((100% - 4rem) / 4); } }
  .footer .details ul {
    line-height: 1.6; }
    .footer .details ul:not(:last-child) {
      margin-bottom: 1.25rem; }
    .footer .details ul a {
      color: #999999; }
    .footer .details ul .email {
      color: #e2494b; }
  .footer .copyright {
    padding-top: 2rem;
    border-top: 1px solid #c3c3c3; }
    @media (min-width: 768px) {
      .footer .copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%; } }
    .footer .copyright-text {
      margin-bottom: 0.625rem; }
      @media (min-width: 768px) {
        .footer .copyright-text {
          margin-bottom: 0; } }

.title-section {
  position: relative;
  margin-bottom: 3rem; }
  .title-section h2 {
    background-color: #e2494b;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.2;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto; }
  .title-section:before {
    content: '';
    position: absolute;
    background-color: #e2e2e2;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; }

.slider blockquote {
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6;
  width: 80%;
  margin: auto;
    margin-top: 0;
    margin-bottom: 2rem; }
  .slider blockquote::before {
    content: "\f10d";
    font: var(--fa-font-solid);
    top: -0.625rem; }
  .slider blockquote::after {
    content: "\f10e";
    font: var(--fa-font-solid);
    bottom: -0.3125rem; }
  .slider blockquote::before, .slider blockquote::after {
    font-size: 1rem;
    position: relative; }

.slider .slider-image img {
  display: block;
  width: 100%;
  height: 100%; }

.slider .slider-image .bullets {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 0.5rem; }
  .slider .slider-image .bullets li {
    width: 1rem;
    height: 1rem;
    background-color: #cecece;
    border: 2px solid #cecece;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in; }
    .slider .slider-image .bullets li:hover, .slider .slider-image .bullets li:first-child {
      background-color: #ffffff;
      border-color: #353535; }

@media (min-width: 992px) {
  .services .services-items {
    display: flex;
    gap: 2rem; } }

.services .services-item {
  padding: 1rem 0;
  position: relative; }
  @media (min-width: 768px) {
    .services .services-item {
      text-align: left; } }
  @media (min-width: 992px) {
    .services .services-item {
      flex: 1;
      padding: 0; } }
  .services .services-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem; }
    @media (min-width: 768px) {
      .services .services-item-title {
        flex-direction: row; } }
    .services .services-item-title h3 {
      line-height: 1.2;
      color: #666666; }
  .services .services-item-desc {
    color: #979797;
    line-height: 1.6;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem; }
  .services .services-item-link {
    color: #e2494b; }

.team .team-items {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (min-width: 768px) {
    .team .team-items {
      flex-direction: row;
      flex-wrap: wrap; } }

.team .team-item {
  text-align: center; }
  @media (min-width: 768px) {
    .team .team-item {
      flex-basis: calc((100% - 2rem) / 2); } }
  @media (min-width: 992px) {
    .team .team-item {
      flex-basis: calc((100% - 4rem) / 3);
      text-align: left; } }
  @media (min-width: 1200px) {
    .team .team-item {
      flex-basis: calc((100% - 6rem) / 4); } }
  .team .team-item img {
    display: block;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 768px) {
      .team .team-item img {
        width: 100%; } }
  .team .team-item-name {
    line-height: 1.2;
    color: #666666;
    margin-top: 0.9rem; }
    .team .team-item-name span {
      font-weight: normal; }
  .team .team-item-desc {
    color: #979797;
    line-height: 1.6;
    margin: 0.5rem 0; }
  .team .team-item-link {
    color: #e2494b; }

.gallery .gallery-items {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (min-width: 768px) {
    .gallery .gallery-items {
      flex-direction: row; } }

.gallery .gallery-item img {
  display: block;
  margin-right: auto;
  margin-left: auto; }

/*# sourceMappingURL=home.css.map */