// Media Queries Mixin
@mixin small {
    @media #{$small} {
        @content;
    }
}

@mixin medium {
    @media #{$medium} {
        @content;
    }
}

@mixin large {
    @media #{$large} {
        @content;
    }
}

@mixin extraLarge {
    @media #{$extra-large} {
        @content;
    }
}

// Transition Mixin 
@mixin transition($values...) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -ms-transition: $values;
    -o-transition: $values;
}